.App {
  text-align: center;
}
.card{
  padding: 20px;
  border-radius: 10%;
  font-size: medium;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 50px;
  box-sizing: border-box;
  box-sizing: 0 0 10px  0  #eeee;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border: 1 px #cececece solid;
}

.selected{
  border: 1 px #cececece solid;
  margin-right: 10px;
  background: rgba(241, 255, 252, 0.467);


}
.covRed{
  border: 10px solid red;
  border-radius: 5px;
}
.covGreen{
  border: 10px solid green;
  border-radius: 5px;
}
.covBlue{
  border: 10px solid blue;
  border-radius: 5px;
}


